:root {
  --color-text: #0c0c0c;
  --color-primary: #c5c8d4;
  --color-secondary: #b7c14d;
  --color-dark: #a2b8d3;
  --color-bg: #dcd7cb;

  /* Fonts */
  --font-roboto: "Roboto";
}

* {
  /* background: var(--body-background-color); */
  color: #070707;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-bg);
}
